<br>
<ul class="pagination center-align" >
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {{#each paths}}
  <li class="waves-effect"  ><a class="cyan-text" href={{this.path}}>{{this.pathNum}}</a></li>
  
  {{/each}}

{{!--add active compoented--}}
  {{!--<li class="active cyan"><a href= "/" + {{path}} + "/1">1</a></li>
  <li class="waves-effect"><a href= {{path}} + "/2">2</a></li>
  <li class="waves-effect"><a href= {{path}} + "/3">3</a></li>
  <li class="waves-effect"><a href= {{path}} +  "/4">4</a></li>
  <li class="waves-effect"><a href= {{path}} + "/5">5</a></li>--}}
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
<br>
<div class="container">
  <div class="row" id="saleContainer">

    <ul class="collapsible popout" data-collapsible="accordion">
      {{#each deals}}
      <li>

        <div class="collapsible-header  blue darken-4">
          <div class="row">
            <div class="col s9">{{this.game_name}}</div>
            <div class="col s1">
              <div class="chip game-tag-show" id="tag-test"> Tags
                <div class="hover-box center-align">
                  {{#each this.game_tags}}
                  <div class="chip game-tag"> {{this}} </div>
                  {{/each}}
                </div>
              </div>
            </div>

            <div class="col s1">
              {{#if this.good_deal}} <i class="material-icons icon-orange right">whatshot</i> {{/if}}
            </div>

            <div class="col s1">
              <div class="right">
                ${{this.discount_price}}
              </div>
            </div>
          </div>
        </div>

        <div class="collapsible-body" id="game-details">
          <div class="row">
            <div class="col s2">
              <img class="game-img" src={{this.game_image_large}} alt="game image">
            </div>
            <div class="col s8">
              <p class="game-description"> {{#unless this.game_description}} Description is unavailable, please go to steam for more details. {{/unless}}
                {{this.game_description}}
              </p>

            </div>
            <div class="col s2">
              <a class="waves-effect waves-light btn right" target="_blank" href={{this.game_link}}>Steam</a>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>

  </div>
</div>